<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>pyzo.icns</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>pyzo</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>py.icns</string>
			<key>CFBundleTypeName</key>
			<string>Python file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.python-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Source file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>public.utf8-plain-text</string>
				<string>public.source-code</string>
				<string>public.script</string>
			</array>
		</dict>
	</array>
	<key>NSHighResolutionCapable</key> 
	<string>True</string>
</dict>
</plist>
